Olá, <strong>{{ organizer }}</strong>
<p>Seu meetup <strong>"{{ meetup }}"</strong> tem um novo inscrito:</p>
<p>
  <strong>Nome:</strong> {{ subscriber }} <br />
  <strong>E-mail:</strong> {{ email }} <br />
</p>
<p>
  <small>Seu meetup ocorrerá em <strong>{{ date }}</strong>. Caso precise cancelá-lo
    não esqueça de avisar aos seus inscritos com antecedência, ok? :)</small>
</p>
